{% extends "entidades/index.html" %}

{% block titulo %}
    <h1 class="mb-5">Cursos</h1>
{% endblock titulo %}

{% block contenido %}

    <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de Curso</th>
            <th>Comision</th>
        </tr>
    </thead>
    <tbody>
    {% for c in cursos %} #cursos es la clave diccionario del views
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.comision }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}