{% extends "entidades/index.html" %}

{% block titulo %}
    <h1 class="mb-5">Profesores</h1>
{% endblock titulo %}

{% block contenido %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Profesor</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Profesión</th>
        </tr>
    </thead>
    <tbody>
    {% for p in profesores %} #profesores es la clave diccionario del views
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.profesion }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}